.contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background: #5d5c61;
    color: white;
    overflow: hidden;
}
.contenedor h1{
    text-align: center;
    font-size: 40px;
}


.contenedor .contenedor-tabla{
    display: flex;
    overflow: inherit;
    width: 100%;
    height: 90%;
}
.contenedor-tabla .items-hijo{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}
.items-hijo:nth-child(1){
    width: 70%;
    border-right: 2px solid;
    overflow: auto;
    position: relative;

}
.items-hijo:nth-child(2){
    width: 30%;
}

.table{
    width: 100px;
}
.table .todo{
    width: 25px;
    height: 25px;
    background-color: #fff;
    appearance: none;
    cursor: pointer;
    border-radius: 50%;
}
.table .seleccionar{
    width: 25px;
    height: 25px;
    background-color: transparent;
    appearance: none;
    cursor: pointer;
}

.seleccionar_todo{
    background-image: url("../img/svg/bx-select-multiple.svg");
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none !important;
}
.activo{
    background-image: url("../img/svg/bxs-user-x.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none !important;
}
.desactivo{
    border-radius: 50%;
    border: 3px solid;
    border-color: #fff;
}
.table, tr, td{
    border: 2px solid #fff;
    border-collapse: collapse;
    text-align: center;
}
.table tr:nth-child(even){background-color: #D6EEEE;color: black;}
.table thead{
    position: sticky;
    top: 0;
    background-color: #000;
}
.table td{
    padding: .7em;
    font-weight: bold;
}

/* Estilos de los botones */
.table .boton-items{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
}
.table .delete{
    background-image: url("../img/svg/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.table .edit{
    background-image: url("../img/svg/bx-edit.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Formulario de edicion */
.formulario-editable{
    width: 95%;
    height: 400px;
    background-color: #fff;
    position: absolute;
    display: none;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    border-radius: 4px 3%;

}
.formulario-editable form{
    width: 90%;
    height: 80%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:center;
    color: #000;
    overflow: inherit;
}
.formulario-editable input[type=submit]{
    width: 140px;
    height: 30px;
    border: none;
    color: #fff;
    background-color: green;
    border-radius: 4px;
    margin-top: 1em;
    cursor: pointer;
}
.formulario-editable input[type=submit]:active{opacity: .9;}

.formulario-editable input{
    width: 80%;
    height: 20px;
    overflow: inherit;
}
.formulario-editable form .close{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    overflow: hidden;
    background-color: transparent;
    background-image:url("../img/svg/bx-x.svg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}