:root{
    --color-fondo:rgb(19, 19, 85);
    --menus:blue;
    --texto:#fff;
    --titulos:#fff;
    --footer-color:gray;
    --color-div-secciones:rgb(221, 221, 221);
}

.contenedor{
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: var(--color-fondo);
}

.contenedor .header{
    width: 100%;
    height: 100px;
    border-bottom: 3px solid #000;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-fondo);

}
.header .logo{
    width: 30%;
    height: 70%;
    color: var(--texto);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logo img{
    width: 70%;
    height: 70%;
    object-fit:cover;
}
.header .menu-items{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* Estilos del menu hamburguesa */
.header .hamburguesa{
    display: none;
    flex-direction: column;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
.header .hamburguesa span{
    width: 30px;
    height: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    border:  2px solid #000;
    background-color: #fff;
}
.menu-items a{
    text-decoration: none;
    color: var(--texto);
    margin: 2px;
    font-size: 16px;
    font-family: monospace;
    border-bottom: 1px solid;
}

.menu-items:hover > :not(:hover){
    opacity: .5;
}
.menu-items a:hover{
    color: #000;
    font-weight: bold;
    transition: all .2s ease-in-out;
}
/* Estilos para el banner */

.contenedor .banner{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background-color: #000;
}
.banner .imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .banner-titulo{
    width: 24ch;
    height: 40px;
    font-size: 60px;
    font-family: monospace;
    font-weight: bold;
    color: var(--titulos);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

/* Estilos de las secciones */

.contenedor .secciones{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid;
}
.secciones div{
    border: 1px solid black;
    width: 25%;
    height: 90%;
    margin: 4px;
    padding: 1em;
    background: var(--color-div-secciones);
    overflow: hidden;
}
.secciones div h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #000;

}
.secciones div p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .78;
    margin-top: 2em;
}
/* Estilos del footer(pie pagina) */
.footer{
    width: 100%;
    height: 100px;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer-items{
    background-color: var(--footer-color);
    width: 99%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer-items p{
    color: var(--texto);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

/* Web responsive */

@media (max-width:950px) {
    .banner-titulo{
        font-size: 25px !important;
    }
    .secciones{
        flex-direction: column;
    }
    .secciones div{
        width: 90% !important;
        height: 400px !important;
    }
    .hamburguesa span{
        width: 10px !important;
        height: 10px !important;
        border-radius: 50% !important;
    }
    .footer p{
        font-size: 20px !important;
    }
}
@media (max-width: 1200px){
    .contenedor .header{
        flex-direction: column !important;
        height: 150px !important;
    }
    .header .logo{
        width: 100% !important;
        height: 100% !important;
    }
    .logo img{
        width: 70% !important;
        height: 70% !important;
        object-fit: contain !important;
        overflow: hidden;
    }
    .hamburguesa{
        display: flex !important;
        position: absolute;
        top: 7%;
        right: 5%;
    }
    .header .menu-items{
        display: none;
        width: 90% !important;
        height: 400px !important;
        background-color: #fff;
        flex-direction: column;
        align-items: start !important;
        justify-content:left !important;
        position: absolute;
        top: 20% !important;
        z-index: 1 !important;
        border-radius: 10px;
    }
    .menu-items a{
        color: #000 !important;
        border: none !important;
        margin: 1em !important;
        font-size: 20px !important;
    }
    .activo{
        display: flex !important;
    }
    .activo-hamburguesa span:nth-child(1){
        background-color: yellow !important;
    }
    .activo-hamburguesa span:nth-child(2){
        background-color: blue !important;
    }
    .activo-hamburguesa span:nth-child(3){
        background-color: red !important;
    }

}